{% extends 'shop/basic.html' %}

{% block title %} About US{% endblock title %}
{% block aboutactive %}active{% endblock aboutactive %}
{% block body %}

<main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4">Mahavir Chemist</span>
      </a>
    </header>

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Mahavir Chemist</h1>
        <p class="col-md-8 fs-4">our vision and focus to provide customized solutions with quality and cost effective product range. A strong customer focus approach and constant quest for top class quality and services have enabled us to attain and sustain leadership position.</p>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Pro Services</h2>
          <p>Mahavir Chemist is located on IC Colony-Shop No 7 and 8, Ladovic Mansion, IC Colony-Borivali West,Opposite Post Office, , , Borivali West, Mumbai - 400103</p>
          <button class="btn btn-outline-light" type="button">Know More</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Our Aim</h2>
          <p>our vision and focus to provide customized solutions with quality and cost effective product range. A strong customer focus approach and constant quest for top class quality and services have enabled us to attain and sustain leadership position.</p>
          <button class="btn btn-outline-secondary" type="button">Know More</button>
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; Final Year Project - Sanskar - Roll No: 29
    </footer>
  </div>
</main>

{% endblock body %}