{% extends 'shop/basic.html' %}

{% block title %} Checkout {% endblock title %}

{% block body %}
<div class="container">
    <!--Displaying Products-->
    <div class="col my-4">
        <h2>Step 1 - SJ-Jwelles Checkout - Review Your Cart items</h2>
        <div class="my-4">
            <div id="items" class="list-group list-group-numbered">
            </div>

            <!--Bellow line Where Cart Total RS. in Written-->
            <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                        <div style="display: flex; justify-content: space-between;  margin: 20px 10px;">
                            <span>
                        Your cart total is Rs. <span
                                id="totalprice"></span></b>. Enter your details below & place your order. Thanks for
                        using SJ-Jwelles!
                            </span>
                            <span style="color: #F7D103; font-size: 1.5rem;">
                              RS. <span id="totalprice2"> 522</span>
                            </span>
                        </div>
            </nav>

        </div>
    </div>
    <!--Address And More info Form For Dilevery-->
    <div class="col my-5">
        <h2>Step 2 - Enter Address and Other Details</h2>
        <form class="col my-3" method="POST" action="/shop/checkout/">
            {% csrf_token%}
            <!--Checkout Items-->
            <input type="hidden" name="itemsJson" id="itemsJson">
            <input type="hidden" name="amount" id="amount">

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputName">Name</label>
                    <input required type="text" class="form-control formFields" id="name" value={{request.user.get_username}} name="name"
                        placeholder="Enter Your Name" readonly>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input required type="email" class="form-control formFields" value={{request.user.email}} id="email" name="email"
                        placeholder="Enter Your Email" readonly>
                </div>
            </div>
           
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input required type="text" class="form-control formFields" id="address1" name="address1"
                    placeholder="1234 Main St">
            </div>
            <div class="row">
            <div class="form-group col-md-6">
                <label for="inputAddress2">Address line 2</label>
                <input type="text" class="form-control formFields" id="address2" name="address2"
                    placeholder="Apartment, studio, or floor">
            </div>
            <div class="form-group col-md-6">
                <label for="phone">Phone Number</label>
                <input required type="tel" class="form-control formFields" id="phone" name="phone">
            </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">form-control formFields
                    <label for="inputCity">City</label>
                    <input required type="text" class="form-control formFields" id="city" name="city">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <input required type="text" class="form-control formFields" id="state" name="state" placeholder="Input State">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input required type="text" class="form-control formFields" id="zip_code" name="zip_code">
                </div>
            </div>
            
            <div style="display: flex;
            justify-content: center;
            margin-top: 4rem;">
            <button type="submit" class="placeOrderBtn">Place Order</button>
        </div>
            
        </form>
    </div>
</div>

{% endblock body %}


{% block js %}

<script>
    
    {% if orderMsg|length != 0  %}
    // Order hs been placed
    Swal.fire('{{msg}}', '', 'success')
    localStorage.clear();
    document.location = "/shop";
    {% endif %}

    if (localStorage.getItem('cart') == null) {
        var cart = {};
    }
    else {
        cart = JSON.parse(localStorage.getItem('cart'));
    }

    var sum = 0;
    var totalprice = 0;
    // If Cart is Empty
    if ($.isEmptyObject(cart)) {
        // If objectb is Empty
        mystr = `<p>Your Cart is Empty, Please add some items to your cart before checking out!</p>`
        $('#items').append(mystr);
    }
    else {
        // Cart Has Items
        var price = 0;
        for (item in cart) {
            let name = cart[item][1];
            let img = cart[item][3];
            let url = cart[item][4];
            let qty = cart[item][0];
            let itemprice = cart[item][2];
            price = price + cart[item][2]
            sum = sum + qty
            totalprice = totalprice + qty * itemprice
            mystr = `
            <a  href="/shop/products/`+url.slice(2)+`">
                <div class="list-group-item productItems d-flex justify-content-between align-items-center" style="margin-bottom: 10px;" >
                     <div style="display: flex; padding: 0rem 1rem" class="ms-2 me-auto" >
                         <div href="/shop/products/`+url.slice(2)+`" ><img style="height: 100%; widht: 20%" class="primary_img" src='`+img+`'
                             alt="product1" /></div>
                         <div class="ms-2 me-auto" style="    padding: 1rem 2rem;">
                            ${name}
                         </div>
                     </div>
                     <div style="display: flex; flex-direction: column; align-items: center">
                     <span class="badge rounded-pill" style="color:white; margin: 1rem 0rem; background-color: #92671C" >${qty}</span>
                     <div class="badge " style="color:white;margin: 1rem 0rem; " >Rs. ${itemprice}</div>
                    </div> 
                 </div> 
                 </a>
                `
            $('#items').append(mystr);
        }
    }
    document.getElementById('cart').innerHTML = sum;
    document.getElementById('totalprice').innerHTML = price;
    document.getElementById('totalprice2').innerHTML = price;


    $('#itemsJson').val(JSON.stringify(cart));
    
    $('#amount').val($('#totalprice').html())
</script>

{% endblock js %}