{% extends 'shop/basic.html' %}

{% block title %} Checkout {% endblock title %}

{% block body %}

<div class="container">
    <div class="col my-4">
        <h2>Step 1 - Mahavir Chemist Checkout - Review Your Cart items</h2>
        <div class="my-4">
            <ol  id="items" class="list-group list-group-numbered">
            </ol>
            <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Your cart total is <b>Rs. <span id="totalprice"></span></b>. Enter your details below & place your order. Thanks for using Mahavir Chemist!</li>
  </ol>
</nav>
            
        </div>
    </div>
    <div class="col my-4">
        <h2>Step 2 - Enter Address and Other Details</h2>
        <form method="POST" action="/shop/checkout/">
            {% csrf_token%}
            <input type="hidden" name="itemsJson" id="itemsJson">
            <input type="hidden" name="amount" id="amount">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputName">Name</label>
                    <input required type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input required type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input required type="text" class="form-control" id="address1" name="address1" placeholder="1234 Main St">
            </div>
            <div class="form-group">
                <label for="inputAddress2">Address line 2</label>
                <input type="text" class="form-control" id="address2" name="address2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input required type="text" class="form-control" id="city" name="city">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <input required type="text" class="form-control" id="state" name="state" placeholder="Input State">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input required type="text" class="form-control" id="zip_code" name="zip_code">
                </div>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input required type="tel" class="form-control" id="phone" name="phone">
            </div>
            <button type="submit" class="btn btn-primary">Place Order</button>
        </form>
    </div>
</div>

{% endblock body %}


{% block js %}

<script>
if(localStorage.getItem('cart') == null){
var cart = {};
}
else{
cart = JSON.parse(localStorage.getItem('cart'));
}
var sum = 0;
var totalprice = 0;
if ($.isEmptyObject(cart)){
    // If objectb is Empty
    mystr = `<p>Your Cart is Empty, Please add some items to your cart before checking out!</p>`
    $('#items').append(mystr);
}
else{
for(item in cart){
    let name = cart[item][1];
    let qty = cart[item][0];
    let itemprice = cart[item][2];
    sum = sum + qty
    totalprice = totalprice + qty * itemprice
    mystr = `<li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        ${name}
                    </div>
                    <span class="badge bg-primary rounded-pill" style="color:white" >${qty}</span>
                </li>`
    $('#items').append(mystr);
}
}
document.getElementById('cart').innerHTML = sum;
document.getElementById('totalprice').innerHTML = totalprice;

$('#itemsJson').val(JSON.stringify(cart));
{% if thank %}
alert('Thanks for Ordering with us. Your id is {{id}}. Use it to track your order using our Order Tracker')
localStorage.clear();
document.location = "/shop";
{% endif %}
$('#amount').val($('#totalprice').html())
</script>

{% endblock js %}
