{% extends 'shop/basic.html' %}

{% block title %} Tracker {% endblock title %}

{% block body %}

<div class="container">
    <div class="col my-4">
        <h2>Enter your Order id and email address to track your order</h2>
        <form method="POST" action="#" id="trackerForm">
            {% csrf_token%}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputName">Name</label>
                    <input required type="text" class="form-control" id="OrderID" name="OrderId" placeholder="Order ID">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input required type="email" class="form-control" id="email" name="email"
                        placeholder="Enter Your Email">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Track Order</button>
        </form>
    </div>



    <div class="col my-4">
        <h2>Your Order Status</h2>
        <div class="my-4">
            <ol id="items" class="list-group list-group-numbered">
                Enter Your order id and email and click Track Order to find details about your order!
            </ol>
        </div>
        <h2>Your Order Details</h2>
        <div class="my-4">
            <ol id="citems" class="list-group list-group-numbered">
            </ol>
        </div>
    </div>

</div>

{% endblock body %}


{% block js %}

<script>
    $('#trackerForm').submit(function (event) {

        $('#items').empty();
        var formData = {
            'OrderId': $('input[name=OrderId]').val(),
            'email': $('input[name=email]').val(),
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
        };

        $.ajax({
            type: 'POST',
            url: '/shop/tracker/',
            data: formData,
            encode: true
        })

            .done(function (data) {
                $('#citems').empty();
                data = JSON.parse(data);
                if (data['status'] == 'success') {
                    updates = data['updates'];
                    for (i = 0; i < updates.length; i++) {
                        let text = updates[i]['text'];
                        let time = updates[i]['time'];
                        mystr = `<li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        ${text}
                                    </div>
                                    <span class="badge bg-primary rounded-pill" style="color:white" >${time}</span>
                                </li>`
                        $('#items').append(mystr);
                    }

                    // Fill in the Order details
                    cart = JSON.parse(data['itemsJson']);
                    for (item in cart) {
                        let name = cart[item][1];
                        let qty = cart[item][0];
                        mystr = `<li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        ${name}
                    </div>
                    <span class="badge bg-primary rounded-pill" style="color:white" >${qty}</span>
                </li>`
                        $('#citems').append(mystr);
                    }
                } else {
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        Sorry! We are not able to fetch this Order id and email. Make sure to type correct order id and email.
                    </div>
                </li>`
                    $('#items').append(mystr);
                    $('#citems').append(mystr);
                }


            });

        event.preventDefault();
    });
</script>

{% endblock js %}